# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Model weights (too large for git)
*.pt
*.pth
*.onnx
*.weights
runs/

# Roboflow cache
.roboflow/
